<h2>ひっこしToDo</h2><a href="{% url 'accounts:mypage' %}">⚙️</a>

<form method="post">
  {% csrf_token %}
  <label for="planned_move_date">引っ越し予定日：</label>
  <input type="date" name="planned_move_date" value="{{ planned_move_date }}">
  <button type="submit">保存</button>
</form>

<h2>あなたの進捗状況</h2>

{% if remaining_days is not None %}
  <p>引っ越しまであと {{ remaining_days }} 日！</p>
{% else %}
{% endif %}

<p>完了件数: {{ completed_tasks }} / {{ total_tasks }}（達成率: {{ percent }}%）</p>

<h2>お知らせ</h2>
{% if notification_tasks %}
 <ul>
    {% for item in notification_tasks %}
      <li>
        {% if item.status == '期限切れ' %}
          <span style="color:red;">{{ item.task.title }} : 🔥期限切れ！</span>
        {% elif item.status == '今日が期限' %}
          <span style="color:red;">{{ item.task.title }} : 🔴今日が期限！</span>
        {% else %}
          {{ item.task.title }} : {{ item.status }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {% if notification_all_count >= 3 %}
    <p>他にも期限が迫っているタスクがあります🚨</p>
  {% endif %}

{% else %}
  <p>今のところお知らせはありません！</p>
{% endif %}


<p><a href="/todo/">ToDoリストへ進む</a></p>
