{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}">
{% endblock %}

{% block content %}
<div class="password-reset-form-wrapper">
  <p class="back-link-inside">
    <a href="{% url 'home:index' %}">← 戻る</a>
  </p>

  <h2>パスワード再設定</h2>
  <p>パスワードを忘れた場合は、こちらから新しいパスワードを再設定できます。<br>
     ご登録のメールアドレスを入力してください。</p>

  <form method="POST">
    {% csrf_token %}
    <label for="id_email">メールアドレス：</label><br>
    {{ form.email }}<br><br>
    <button type="submit" class="btn">送信</button>
  </form>

<p class="back-to-login">
  <a href="{% url 'accounts:login' %}">ログイン画面へ戻る</a>
</p>

{% endblock %}
