{% extends 'base.html' %}

{% block content %}
  <div class="comment-history-wrapper">
  <a href="{% url 'accounts:mypage' %}" class="back-link">← 戻る</a>
  <h2>コメント履歴</h2>
  {% for comment in comments %}
    <div class="comment-box">
      <p class="comment-task">◆ {{ comment.task.title }}</p>
      <p class="comment-text">💬「{{ comment.content }}」</p>
      <p class="comment-date">📅 {{ comment.created_at|date:"Y/m/d" }}</p>
      <a class="view-post-btn" href="{% url 'accounts:edit_comment' comment.id %}">投稿を見る &gt;</a>
    </div>
  
  {% empty %}
    <p>まだコメントがありません。</p>
  {% endfor %}
  </div>

{% endblock %}
