{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
{% endblock %}

{% block content %}
  <h1>作品No.1：ひっこしToDo</h1>

  <div class="screenshot-area">
  <img src="{% static 'portfolio/home画面.png' %}" alt="home画面" class="screenshot">
  <img src="{% static 'portfolio/todo_list.png' %}" alt="todo_list.png" class="screenshot">
     <img src="{% static 'portfolio/comment.png' %}" alt="comment.png" class="screenshot">
</div>


  <div class="description">
    <p>
      「ひっこしToDo」は、引っ越しの準備をスムーズに進めるためのチェックリストアプリです。
やることを整理したり、家族と共有したり、メモを残したりしながら、自分に合った形で引っ越しの準備ができます。
また、他の方の体験談やアドバイスも読むことができるので、はじめての引っ越しでも安心です。
忙しい毎日でも、少しずつ準備を進められるようにサポートします。

    </p>

    <p class="links">
      {% load static %}

<p class="links">
  <a href="{% static 'docs/kikakusyogamennsekkeizu.pdf' %}" target="_blank">企画書・画面設計図</a>
  <a href="{% static 'docs/gamensenizu.svg' %}" target="_blank">画面遷移図</a>
  <a href="{% static 'docs/ERzu.svg' %}" target="_blank">ER図</a>
</p>

    <a class="access-btn" href="https://seika1224.pythonanywhere.com/
">アプリにアクセス</a>
  </div>
{% endblock %}
