{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1>作品No.1：peko Lunch</h1>

  <div class="screenshot-area">
    <img src="{% static 'portfolio/calendar.png' %}" alt="カレンダー画面">
    <img src="{% static 'portfolio/recipe.png' %}" alt="レシピ詳細画面">
  </div>

  <div class="description">
    <p>
      peko Lunchは、忙しい保護者に向けたお昼ご飯の献立の自動提案とレシピを提供するアプリケーションです。<br>
      このアプリは保護者の食事の準備に対する負担を減らし、より健康的で楽しい家庭生活をサポートします。<br>
      また、献立のマンネリ解消と栄養バランスの確保を目指します。
    </p>

    <p class="links">
      <a href="#">企画書・画面設計図</a>　
      <a href="#">画面遷移図</a>　
      <a href="#">ER図</a>
    </p>

    <a class="access-btn" href="#">アプリにアクセス</a>
  </div>
{% endblock %}
