{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/todo_index.css' %}">
{% endblock %}

{% block content %}
<a href="{% url 'home:index' %}">← 戻る</a>

<div class="todo-header">
  <h2 class="todo-title">ToDo</h2>
  <div class="todo-actions">
    <a href="{% url 'todo:edit' %}">✏️ 編集</a>
    <a href="{% url 'todo:share_items' %}">📤 共有</a>
  </div>
</div>


{% for category, tasks in grouped_tasks.items %}
  <div class="task-section">
    <h3>{{ category }}</h3>

    {% for task in tasks %}
      <form method="POST" action="{% url 'todo:toggle_done' task.id %}">
        {% csrf_token %}
        <div class="task-card">
          <div class="task-left">
            <input type="checkbox" name="is_done" onchange="this.form.submit()" {% if task.is_done %}checked{% endif %}>
            <span class="task-title">{{ task.title }}</span>
          </div>
          <a href="{% url 'todo:task_detail' task.id %}?view=memo" class="arrow">&gt;</a>
        </div>
      </form>
    {% endfor %}
  </div>
{% empty %}
  <p>まだタスクはありません。</p>
{% endfor %}
{% endblock %}