{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ひっこしToDo</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/edit_comment.css' %}">
  <link rel="stylesheet" href="{% static 'css/about_app.css' %}">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/todo_edit.css' %}">
  <link rel="stylesheet" href="{% static 'css/todo_index.css' %}">
  <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/edit_email.css' %}">
  <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/password_reset_done.css' %}">


  {% block extra_css %}{% endblock %}
</head>
<body>

  

  <!-- ✅ 通常ヘッダー（ロゴ・ナビなど） -->
  {% if not hide_header|default:False %}
    <header>
      <h1><a href="{% url 'home:index' %}">ひっこしToDo</a></h1>
      <nav>
        <ul>
          <li><a href="{% url 'todo:index' %}">ToDoリスト</a></li>
          <li><a href="{% url 'accounts:login' %}">ログイン</a></li>
          <li><a href="{% url 'accounts:signup' %}">新規登録</a></li>
        </ul>
      </nav>
    </header>
  {% endif %}

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <p>&copy; 2025 ひっこしToDo</p>
  </footer>
</body>
