{% load static %}
<!DOCTYPE html>
<html lang="ja">

<body>
    {% if not hide_header|default:False %}
    <header>
        <h1><a href="{% url 'home:index' %}">ひっこしToDo</a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'todo:index' %}">ToDoリスト</a></li>
                <li><a href="{% url 'accounts:login' %}">ログイン</a></li>
                <li><a href="{% url 'accounts:signup' %}">新規登録</a></li>
            </ul>
        </nav>
    </header>
    {% endif %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 ひっこしToDo</p>
    </footer>
</body>
</html>
